body{
    background-color: #a6a6a6;
}

#app{
    display: flex;
}

#panel{
    margin-top: 5vh;
    margin-left: 3vh;
    display: flex;
    flex: 0;
    flex-direction: column;
    border: 0px solid red;
}

#create-btn{
    background-color: #03798f;
    border: 1px solid #03798f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 40%;
    height: 5vh;
    margin-bottom: 2vh;
    align-self: center;
}

#create-btn:active{
    background-color: #035260;
}

#studen-panel{
    background-color: #0097b2;
    border-radius: 20px;
    height: 80vh;
    width: 130vh;
}

#summary-container{
    display: flex;
    margin: 0vh;
}

#summary-container > button{
    height: 10vh;
    width: 9vh;
    align-self: center;
    margin-right: 3vh;
    background-color: #03798f;
    border: 1px solid #03798f;
}

#summary-container > button:active{
    background-color: #035260;
}

#summary-box{
    margin: 2.5vh;
    background-color: #ffffff;
    border: 10px solid #03798f;
    border-radius: 10px;
    width: 70%;
    height: 10%;
    line-height: 2vh;
    text-align: center;
}

.summary-btn{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #03798f;
    padding: 5vh;
    border-radius: 12px;
    width: 400px;
}

#modal-box{
    display: flex;
    border: 0px solid lawngreen;
}

#pfp-preview{
    border: 1px solid black;
    height: 25vh;
    width: 25vh;
}

#student-form{
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

#student-form > input{
    height: 4vh;
}

/*-----Temp/Prototype Css's lol*/

.student-card{
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid #d9d9d9;
    border-radius: 10px;
    background-color: #d9d9d9;
    height: 60vh;
    width: 40vh;
}

#student-image{
    height: 20vh;
    width: 50%;
}

#student-name{
    margin-bottom: 0vh;
}

#student-course{
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

#student-id{
    margin: 0vh;
}